$primary: #008CBA;
$black: #000000;
$gray: #b5b5b5;

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 200px;
}

.form__field {
  width: 100%;
  border: 0;
  border-bottom: 1px solid $black;
  outline: 10px;
  padding: 5px 0;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown~.form__label {
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  color: $gray;
}

.form__field:focus {
  ~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: $primary;
  }

  border-bottom: 2px solid $primary;
}
