<div class="form__group field">
  <input [type]="typeTextBox" class="form__field" placeholder="Name" name="name" id='name' required />
  <label for="name" class="form__label">{{ nameLabel }}</label>
</div>
